<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../javascript/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
<script src="../javascript/jquery.min.js"></script>
</head>
<body>
	
	<div data-role="page" id="mainPage">
		<div data-role="header" data-position="fixed">
			<h1>welcome</h1>
		</div>
  		<div data-role="content">
  			<div data-role="header" class="nav-glyphish-example" data-theme="b">
	  			<div data-role="navbar" class="nav-glyphish-example">
			      <ul id="navbarVue">
			        <li id="todayLi"><a href="#" data-icon="info" class="ui-btn-active">今天</a></li>
			        <li id="cronJobLi"><a href="#" data-icon="check">CronJobRunning</a></li>
			        <li id="selectionLi"><a href="#" data-icon="plus">帅选</a></li>
			        <!-- <li><a href="#" data-icon="info">近两月</a></li>
			        <li><a href="#" data-icon="refresh">运行中</a></li> -->
			      </ul>
				</div>
		    </div>
			<div id="choiceDiv" class="ui-grid-b" style="display: none">
				<div class="ui-block-a">
					<select name="status-choice" id="status-choice" multiple="multiple" data-native-menu="false" data-icon="grid" data-iconpos="left">
						<option>选择需要的状态:</option>
						<!-- <optgroup label="USPS">
							<option value="standard" selected="">Standard: 7 day</option>
							<option value="rush">Rush: 3 days</option>
							<option value="express">Express: next day</option>
							<option value="overnight">Overnight</option>
						</optgroup> -->
						<optgroup label="状态">
							<option value="RUNNING">运行中</option>
							<option value="WAITING">等待中</option>
							<option value="FINISH">已完成</option>
							<option value="STOP">已暂停</option>
							<option value="CANCEL">已取消</option>
						</optgroup>
					</select>
				</div>
				<div class="ui-block-b">
					<select name="group-choice" id="group-choice" multiple="multiple" data-native-menu="false" data-icon="grid" data-iconpos="left">
						<option>选择需要的组:</option>
						<optgroup label="Group" v-cloak id="groupVue">
							<option  v-bind:value="groupItem" v-for="groupItem in jobGroups"  v-text="groupItem"></option>
						</optgroup>
					</select>
				</div>
				<div class="ui-block-c"  id="dayVue">
					<div class="ui-block-a">
						<div class="ui-block-a" ><input v-model="startDay" type="date" name="startDay" value=""></div>
						<div class="ui-block-b"><input v-model="endDay" type="date" name="endDay" value=""></div>
						<button v-on:click="findByDaysRecords()" class="ui-btn ui-corner-all ui-btn-inline">查询</button>	
					</div>
				</div>
			</div>
  			<table data-role="table" id="record-table" data-autodividers="true" data-inset="true" data-filter="true" class="ui-body-d ui-shadow ui-responsive table-stripe">
  				<thead>
  					<tr>
  						<th data-priority="1">ID</th>
  						<th data-priority="1">组</th>
						<th data-priority="1">描述</th>
						<th data-priority="2">通知时间</th>
						<th data-priority="6"><abbr title="Rotten Tomato Rating">循环次数</abbr></th>
						<th data-priority="6">已循环次数</th>
						<th data-priority="6">循环间隔</th>
						<th data-priority="6">通知URL</th>
						<th data-priority="1">状态</th>
						<th data-priority="6">创建时间</th>
						<th data-priority="persist">操作</th>
  					</tr>
  				</thead>
  				<tbody  id="jobRecordVue">
  					<tr v-cloak v-for="(record, index) in records">
						<th>{{record.jobGroupModelId}}</th>
						<th>{{record.jobGroup}}</th>
						<td>{{record.jobModelDesc}}</td>
						<td>{{record.notifyTime}}</td>
						<td>{{record.repeatCount}}</td>
						<td>{{record.hadRepeatCount}}</td>
						<td>
							{{record.repeatTimeInterval | calHourMin}}
						</td>
						<td>{{record.notifyUrl}}</td>
						<td>{{record.jobStatus}}</td>
						<td>{{record.createTime}}</td>
						<td>
							<a href="#detailPage"  data-transition="flow" v-on:click="detailClick(record)">查看</a>
							<a href="#" v-if="record.jobStatus==='STOP'" v-on:click="changeStatus(record, 'RUNNING', index)">运行</a>
							<a href="#" v-if="record.jobStatus==='RUNNING'" v-on:click="changeStatus(record, 'STOP', index)">暂停</a>
							<a href="#" v-if="record.jobStatus!=='CANCEL' && record.jobStatus!=='FINISH'" v-on:click="changeStatus(record, 'CANCEL', index)">取消</a>
						</td>
					</tr>
  				</tbody>
  			</table>
  		</div>
  			<div data-role="footer" style="text-align:center;"  data-position="fixed">
			  <div data-role="controlgroup" data-type="horizontal" id="recordPagerVue">
			    <a href="#" class="ui-btn ui-icon-carat-l ui-btn-icon-left">上一页</a>
			    <template v-for="pagerCout in pagerCounter.pageShow">
			    	<a href="#" class="ui-btn">{{pagerCout}}</a>
			    </template>
			    
			    <!-- <a href="#" class="ui-btn ui-btn-active">2</a>
			    <a href="#" class="ui-btn">3</a>
			    <a href="#" class="ui-btn">4</a> -->
			    <a href="#" class="ui-btn ui-icon-carat-r ui-btn-icon-right">下一页</a>
			    <select name="day" id="day">
		         <option value="mon">星期一</option>
		         <option value="tue">星期二</option>
		         <option value="wed">星期三</option>
		         <option value="thu">星期四</option>
		         <option value="fri">星期五</option>
		         <option value="sat">星期六</option>
		         <option value="sun">星期日</option>
		        </select>
			    <a href="#" class="ui-btn ui-state-disabled">总条数</a>
			    <a href="#" class="ui-btn ui-state-disabled">总页数</a>
			    <a href="#" class="ui-btn ui-state-disabled">页大小</a>
			    <a href="#" class="ui-btn ui-state-disabled">当前页</a>
			  </div>
			</div>
  	</div>
<!-- detail page -->  	
  	<div data-role="page" id="detailPage">
  		<div data-role="header">
		  <a href="#mainPage" data-role="button" data-transition="flow">首页</a>
		  <h1>Welcome</h1>
		</div>
		<div data-role="content">
			<table data-role="table" id="detail-table" data-autodividers="true" data-inset="true" data-filter="true" class="ui-body-d ui-shadow ui-responsive table-stripe">
  				<thead>
  					<tr>
  						<th data-priority="1">ID</th>
  						<th data-priority="1">任务ID</th>
						<th data-priority="1">运行时间</th>
						<th data-priority="2">运行结果</th>
						<th data-priority="6"><abbr title="Rotten Tomato Rating">返回编码</abbr></th>
						<th data-priority="6">返回消息</th>
						<th data-priority="6">操作类型</th>
						<th data-priority="6">操作人</th>
						<th data-priority="1">更新时间</th>
  					</tr>
  				</thead>
  				<tbody  id="jobRunRecordVue">
  					<tr v-cloak v-for="record in detailRecords">
						<th>{{record.id}}</th>
						<th>{{record.jobId}}</th>
						<td>{{record.runTime}}</td>
						<td>{{record.runResult}}</td>
						<td>{{record.returnCode}}</td>
						<td>{{record.returnMsg}}</td>
						<td>{{record.operatorType}}</td>
						<td>{{record.operatorId}}</td>
						<td>{{record.updateTime}}</td>
					</tr>
  				</tbody>
  			</table>
		</div>
  	</div>

<script type="text/javascript" src="../javascript/vue.js"></script>
<script src="../javascript/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="../javascript/self/base.js"></script>
<script type="text/javascript" src="../javascript/self/pager.js"></script>
<script type="text/javascript" src="../javascript/self/index.js"></script>
<script>
	$(function() {
		$('#popup-login').enhanceWithin().popup();
		
	});
</script>
	<div id="popup-login" data-role="popup" data-dismissible="false" data-overlay-theme="b" data-theme="a" class="ui-corner-all">
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">关闭</a>
		<div class="ui-content">
			<h3>登录</h3>
			<input v-model.trim="name" name="name" placeholder="姓名" type="text">
			<input v-model.trim="password" type="password" name="password" placeholder="密码" autocomplete="off">
			<button v-on:click="login" class="ui-btn ui-corner-all ui-shadow ui-btn-b">登录</button>
			<p v-if="failure" class="text-danger">{{failure}}</p>
		</div>
	</div>
	
</body>
</html>